<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student Resources</title>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700%7CLato:300,400,400i,700' rel='stylesheet'>

  <!-- Css -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/font-icons.css" />
  <link rel="stylesheet" href="css/style.css" />

  <!-- Favicons -->
  <link rel="shortcut icon" href="img/student.png">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

</head>

<body data-spy="scroll" data-offset="60" data-target=".nav__holder">

  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      "Loading..."
    </div>
  </div>

  <main class="main-wrapper">

    <!-- Navigation -->
    <header class="nav nav--sticky-on-mobile" id="home">

      <div class="nav__holder" id="sticky-nav">
        <div class="container">
          <div class="flex-parent">

            <div class="nav__header clearfix">
              <!-- Logo -->
              <div class="logo-wrap local-scroll">
                <a href="#home" class="logo__link">
                  <!--<img class="logo logo--dark" src="img/logo_dark.png" alt="logo">-->
				 <h3> Student Resources</h3>
                </a>
              </div>

              <button type="button" class="nav__icon-toggle" id="nav__icon-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="nav__icon-toggle-bar"></span>
                <span class="nav__icon-toggle-bar"></span>
                <span class="nav__icon-toggle-bar"></span>
              </button>
            </div> <!-- end nav-header -->


            <nav id="navbar-collapse" class="nav__wrap collapse navbar-collapse">
              <ul class="nav__menu nav__menu--inline local-scroll" id="onepage-nav">
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/userform">Create Resource</a>
                </li>
                <li>
                  <a href="/list">List Resource</a>
                </li>
              </ul><!-- end menu -->

            </nav> <!-- end nav-wrap -->


          </div> <!-- end flex-parent -->
        </div> <!-- end container -->

      </div>
    </header> <!-- end navigation -->


    <div class="content-wrapper oh">

      <!-- Hero -->
      <section class="hero bg-gradient bg-gradient--1 white-text">

        <!-- SVG Wave -->
        <svg version="1.1" class="wave" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 152.8" enable-background="new 0 0 1920 152.8" xml:space="preserve">
          <path class="wave-path" d="M1,152.4v-61c0,0,257.3,56.4,431,44c260.8-18.7,490.2-63.1,647-97c496.4-107.3,842,42,842,42v72H1z"/>
        </svg>

        <div class="container hero__container hero__container--720">

          <div class="row hero__outer flex-vertical-align-center">
            <div class="col-lg-5 col-md-7 text-center hidden-sm hidden-xs">
              <img src="img/student.png"  alt="">
            </div>
            <div class="col-lg-6 col-md-5">
              <h1 class="hero__title hero--boxed">Welcome To Student Resources</h1>
              <p class="hero__subtitle">An idea that takes the parts of a structure and turns whole system. Practice is the frequent and continued contemplation of the mode of executing any given work.</p>
              <div class="hero__btn-holder mt-30">
                <a href="#" class="btn btn--lg btn--transparent rounded"><span>Create Resource</span></a>
                <a href="features.html" class="btn btn--lg btn--color btn--icon rounded"><span>List Resource</span></a>
              </div>
            </div>
          </div>

        </div>
      </section> <!-- end hero -->



      <!-- CTA -->
      <section class="section-wrap bg-light bottom-divider">
        <div class="container text-center">

          <div class="heading-row">
            <h2 class="heading">Get the app that suits you</h2>
          </div>

          <div class="btn__holder">
            <a href="#" class="btn btn--x-large btn--icon btn--google">
              <i class="ui-android"></i><span>Google Play</span>
            </a>
            <a href="#" class="btn btn--x-large btn--icon btn--apple">
              <i class="ui-apple"></i><span>App Store</span>
            </a>
            <a href="#" class="btn btn--x-large btn--icon btn--windows">
              <i class="ui-windows"></i><span>Windows Store</span>
            </a>
          </div>

        </div>
      </section> <!-- end CTA -->


      <!-- Footer -->
      <footer class="footer">


        <div class="footer__bottom top-divider">
          <div class="container text-center">
            <span class="copyright">
              &copy; 2017, All Rights Reserved.</a>
            </span>
          </div>
        </div> <!-- end footer bottom -->
      </footer> <!-- end footer -->


      <div id="back-to-top">
        <a href="#top"><i class="ui-arrow-up"></i></a>
      </div>

    </div> <!-- end content wrapper -->
  </main> <!-- end main wrapper -->


  <!-- jQuery Scripts -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>

</body>
</html>
